* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}
#nav {
    height: 80px;
    width: 100%;
    /* background-color: #dd3131; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 600;
}
#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50%;
}

#center {
    width: 100%;
    /* background-color: #723b3b; */
    padding: 40px 80px;

}
#center h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}
#center-in {
    height: 200px;
    /* background-color: #b9ff09; */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}
#center-in p{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    padding: 0 80px;
}
#right {
    width: 20%;
}
.elem {
    /* background-color: #fc4c00; */
    /* margin:10px; */
    padding: 20px 0;
    border-top: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom {
    background-color: red;
    height: 35%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover ;
    background-position: 0% 30%;
}